* {
  margin: 0;
  padding: 0;
}

.main {
  width: 50%;
  margin: 0 auto;
}

.display {
  margin-top: 20px;
}

.display,
input {
  background-color: #858694;
  padding: 10px;
  border: none;
  color: #ffff;
  font-size: 30px;
  text-align: end;
}

input:focus {
  outline: none;
}

.numerics {
  background-color: #e0e0e0;
  display: block;
}

button {
  width: 25%;
  height: 60px;
  font-size: 25px;
  border: 1px solid #cbcbcb;
}

.zero {
  width: 50%;
}

.yellow {
  background-color: #f5913e;
  font-size: 25px;
}